<html>
  <head>
    <title>Remco Chang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="styles/reset.css" />
    <link type="text/css" rel="stylesheet" href="styles/refresh.css" />

    <!-- don't want to pollute your analytics -cz
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-11359407-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
-->
  </head>

  <body>
    <div id="info">
      <a href="img/me-tufts-large.jpg"><img src="img/me-tufts.jpg" width="120" /></a>
      <div>
        <h1>Remco Chang</h1>
        <div id="contact" class="row">
          <p class="contact">
            Associate Professor<br />
            <a href="http://www.tufts.edu">Tufts University</a><br />
            <a href="http://www.cs.tufts.edu">Computer Science</a><br />
          </p>

          <div>
            <p class="hide-in-mobile">Joyce Cummings Hall</p>
            <p class="hide-in-mobile">177 College Avenue</p>
            <p class="hide-in-mobile">Medford, MA 02155</p>
            <p>(Office) 617-627-3681</p>
            <!--<p>(Lab) 617-627-6514</p>-->
            <p>remco_at_cs.tufts.edu</p>
          </div>
        </div>
      </div>
      <div id="sitemap" class="row">
        <div><a href="vita.pdf">vita</a></div>
        <div><a href="publication.html">publications</a></div>
        <div><a href="students.html">students</a></div>
        <div><a href="talks.html">talks</a></div>
        <div><a href="grants.html">grants</a></div>
        <div><a href="calendar.html">calendar</a></div>
      </div>
    </div>

    <!------------column break-------------------------->
    <main>
      <section>
        <a href="students.html"><h2>Recent Professors</h2></a>
        <div id="advisee" class="card-group">
          {% for grad in csv.advisee %}
          <div class="card">
            <div class="thumbnail">
              <a>
                <img class="face" href="{{ grad.url }}" src="img/{{ grad.image }}" alt="" />
              </a>
            </div>
            <div class="description">
              <h3>{{ grad.title }}</h3>
              <p>Congratulations to <a href="{{ grad.url }}">{{ grad.name }}</a> {{ grad.text }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

      <!------------column break-------------------------->

      <section>
        <a href="publication.html"><h2>Recent Publications</h2></a>
        <div id="pubs" class="card-group">
          {% for paper in csv.papers %}
          <div class="card">
            <img class="teaser" src="img/{{ paper.iconPath }}" alt="" />
            <div class="description">
              <h3>{{ paper.title }}</h3>
              <p>{{ paper.text }}</p>
              <p>
                {% for pub in paper.pubs %}
                <a href="{{ paper.url }}"> {{ pub.name }} </a>
                {% endfor %}
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

      <section>
        <a href="grants.html"><h2>Recent Grants</h2></a>
        <div class="card-group">
          {% for grant in csv.grants %}
          <div class="card">
            <div>
              <h3>{{ grant.title }}</h3>
              <p class="grants">{{ grant.grants }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

      <section>
        <a href="talks.html"><h2>Recent Talks</h2></a>
        <div class="talks">
          {% for talk in csv.talks %}
          <p>({{ talk.date }}) {{ talk.location }}</p>
          {% endfor %}
        </div>
      </section>
    </main>
  </body>
</html>
