:root {
  --light: #ffffff;
  --dark: #131112;
  --primary: #4b009f;
  --info: #00b173;
  --accent: #435a79;
  --muted: #5b6078;
  --link: #465a77;
}

html {
  background: var(--light);
  color: var(--dark);
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.3;
}

h2 {
  color: var(--primary);
  font-size: 1.6rem;
  margin-bottom: 8px;
}

h3 {
  font-weight: bold;
  font-size: 1.25rem;
}

body {
    display: flex;
    padding: 16px 12px;    
    gap: 24px 48px;
    flex-direction: column;
  }

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hide-in-mobile {
  display: none;
}

.row {
  display: flex;
  gap: 0px 12px;
  flex-flow: row wrap;
}

#info {
  gap: 12px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  flex: 0 1 0;
}

#info img {
  min-width: 64px;
  width: 64px;
  object-fit: cover;
  object-position: 50% 0;
}

.card-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.card .thumbnail {
  flex: 0 0 64px;
}

.card img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  object-position: 50% 0;
  box-shadow: 
    0px 1px 1px 0px rgba(0, 0, 0, 0.08), 
    0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 4px 4px 0px rgba(0, 0, 0, 0.16), 
    0px 8px 8px 0px rgba(0, 0, 0, 0.10);
}

@media only screen
  and (min-width: 720px) {
  body {
    flex-direction: row;
    padding: 24px 40px;
  }

  main  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 48px;
  }

  .hide-in-mobile {
    display: block;
  }

  #info {
    text-align: right;
    display: flex;
    align-content: flex-start;
    justify-content: flex-end;
    gap: 20px;
  }

  #info img {
    width: 120px;
    height: 180px;
  }

  .card img {    
    min-width: 100px;
    width: 100px;
    height: 80px;
  }

  #sitemap, #contact {
    flex-direction: column;
  }

  #contact {
    gap: 24px;
  }
}

